* {
    
}

.iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    
}


#header {
    background-color: #9EB7F0;
    color: #ffffff;
    font: iceber_regular;
}

div a {
    text-decoration: none;
    color: #ffffff;
}

#content {
    background-color: #ffffff;

}

#footer {
    background-color: #1C1D3D;
}